.main {
  // flex: 1 1 auto;
  // width: 100%;
  .container {

    padding-top: 45px;
    height: max-content;
    min-height: calc(100vh - 97px - 94px);

  }

  &__title {

    margin-bottom: 39px;

  }

  &__goods {

    width: 100% 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    li {

      list-style-type: none;

    }

  }

}
