$bacground-main: #F6F3F3;
$bacground-footer: #ECEAEA;

$color-brow-1: #403432;
$color-brow-2: #776763;
$color-brow-3: #C1B4B1;
$color-brow-4: #5B3A32;

$color-text: #343030;

$color-border: #E1E1E1;
$color-border-dark: #B5B5B5;

$color-grey-1: #9F9F9F;
$color-grey-2: #A0A0A0;
$color-grey-3: #555555;
$color-white: #FFFFFF;
